# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
merge_feedback_sae_data.py

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# exclude specific notebooks from being ignored
!sycophancy_analysis_colab.ipynb
!launcher_colab.ipynb


# Specific notebooks to ignore
sycophancy_analysis_improved.ipynb

# PyTorch
*.pth
*.pt

# Project specific
demo_sae_lens.ipynb
*.sh

# Results and outputs
plots/
results/
archive/
eval_dataset
colab/
feedback_results/
interventions_results/